<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <!-- Completer la page A propos -->
        <h1 class="text-center">A propos</h1>
        <ul>Services proposés : 
            <li>Boîte de retour / Club de lecteur (adulte) / Parking</li>
        </ul>
        <ul>Rendez-vous réguliers
            <li>Accueil de classes,d’assistantes maternelles, de centres de loisirs, de groupes</li>
            <li>Club de lecture tous les deux mois le jeudi à 17h</li>
        </ul>
        <ul>Points forts :
            <li>Accès Internet</li>
            <li>Livres audio</li>
            <li>Prêt par correspondance aux déficients visuels de livres audio</li>
        </ul>
        <ul>Quelques repères : 
            <li>Bibliothèque ouverte en 1977</li>
            <li>Surface 181 m2</li>
            <li>16 000 documents, 66 magazines et journaux</li>
        </ul>
        
    
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>