<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center">CDs</h1>
        <h2>Liste des CDs :</h2>
        <div class="row">
            <% cdDB.forEach((cds) => { %>
            <div class="card m-2 p-1" style="width: 18rem;">
                <img src="<%= cds.thumbnail_src %>" class="card-img-top" alt="...">
            <div class="card-body">
                    <h3 class="h5 card-title"><%= cds.name %></h3>
                    <p class="card-text"><%= cds.info.substring(0,250); %>...</p>
                    <a href="/cds/<%= cds.id %>" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
            <% }); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>