<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body style="font-family:Verdana, Geneva, Tahoma, sans-serif">

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <!-- Completer la page Index -->
        <h1 class="text-center">Accueil</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-8 col-lg-9">
                    
                    <h2>Notre mission :</h2>
        
                        <p>La bibliothèque est ouverte à tous. La consultation sur place est libre et gratuite.<br>
                            Pour emprunter des documents, vous devez vous inscrire.<br>
                            La bibliothèque est intégrée au Service Commun de la Documentation de la ville de Toulouse.<br>                
                            Ses collections sont signalées :</p>
                        <ul>
                            <li>dans le catalogue Archipel , catalogue des bibliothèques universitaires de Toulouse et de Midi-Pyrénées</li>
                            <li>dans le Sudoc , catalogue des bibliothèques universitaires françaises.</li>
                            <li>A la bibliothèque, vous trouverez aussi 8 ordinateurs publics.</li>
                            <li>Les copies et les impressions sont possibles dans vos départements de formation.</p></li>
                        </ul>
                </div>

                <div class="col-sm-3 col-md-4 col-lg-3">
                    <h2>Horaires d'ouverture :</h2>
                    <p>Lundi : Fermé<br>Mardi : 13h-18h<br>Mercredi : 13h-18h<br>Jeudi : 14h-18h<br>Vendredi : 13h-18h<br>Samedi : 10h-18h<br>Dimanche 14h-18h</p>
                    
                    <h2>Fermetures :</h2>
                    <p>Fermetures de fin d’année : du jeudi 24 décembre au 26 décembre inclus et du 31 décembre au 2 janvier inclus</p>
            
                </div>
            </div>

        </div>
        
            
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>
